# Abaikan folder resultML (semua isinya)
resultML/

# Abaikan folder virtual environment
venv/
ml_venv/
__pycache__/

# Abaikan file log, cache, dll
*.log
*.pyc
*.pkl
*.pth
*.csv
*.ipynb
*.joblib

# Abaikan sistem & editor
.DS_Store
.vscode/
.idea/
*.swp
