# Ignore all virtual environments
venv/
*/venv/
**/venv/

ml_venv/
*/ml_venv/
**/ml_venv/

# Python build cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Optional
*.env
*.venv
pip-log.txt
Report/

# Python bytecode
__pycache__/
*.py[cod]

