[Desktop Entry]
Version=1.0
Type=Application
Name=AirMalysis
Comment=Aplikasi Analisis Malware dengan Cuckoo Sandbox
Exec=python3 "/home/cuckoo/TA_AnalisisMalware/Cuckoo Upload/main.py"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
